<!doctype html>
<html>
<head>
  <title>A game</title>
</head>
<body>
    

    <form action="/madlib">
      
      Type the name of a person:
      <input type="text" name="person"></br>
     Pick a Color:
        <select name="color">
          <option value="lavender">Lavender</option>
          <option value="turquoise">Turquoise</option>
          <option value="chartreuse">Chartreuse</option>
          <option value="mauve">Mauve</option>
          <option value="peach">Peach</option>
          <option value="magenta">Magenta</option>
        </select>
      </br>
      Type a noun:
      <input type="text" name="noun"></br>
      Type in an adjective:
      <input type="text" name="adjective"></br>
      <button type="submit">Submit</button>
    </form>
      
</body>
</html>